.tttgame {width: 160px;
    height: 160px; display: table;
    text-align: center;
    line-height: 50px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 27px;
    color: #000;
    font-weight: bold;
    background: #fff;
    box-shadow: #dcc 0px 0px 7px 3px;
} 

.tttgame #a, .tttgame #b, .tttgame #c, .tttgame #d, .tttgame #e , .tttgame #f, .tttgame #g,  .tttgame #h, .tttgame #i{
  float: left;
  width: 50px;
 height: 50px;
 
}
.tttgame #a, .tttgame #b,  .tttgame #d, .tttgame #e , .tttgame #g,  .tttgame #h {
   border-right: solid #000 5px;

}
.tttgame #a, .tttgame #b, .tttgame #c, .tttgame #d, .tttgame #e , .tttgame #f {
   border-bottom: solid #000 5px;
}